<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{general/fragmentos :: head}"/>
<body>

    <header th:replace="~{general/fragmentos :: header}"/>

    <div class="main-layout">
        <aside th:replace="~{consultas/fragmentos :: menuCategorias}"/>

        <section class="product-area">
            <th:block th:replace="~{consultas/fragmentos :: tarjetas}"/>
        </section>
    </div>

    <footer th:replace="~{general/fragmentos :: footer}"/>

    <script th:src="@{/js/rutinas.js}"></script>
</body>
</html>
